@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Berkshire+Swash&display=swap");

html {
  min-height: 100vw;
}
header {
  background-color: #f4acbc;
}
.principal {
  background-color: #f4acbc;
}
.logo {
  max-width: 130px;
  margin-left: 50px;
  margin-top: 20px;
  margin-bottom: 10px;
}

.listHeader {
  list-style: none;
  background-color: #f4acbc;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 23%;
}

.itemHeader {
  text-decoration: none;
  color: #f4acbc;
  font-family: "Poppins";
  display: flex;
}

.InicioHeader {
  padding: 5px;
  padding-left: 10px;
  background-color: #b9e2fa;
  padding-right: 10px;
  border-radius: 5px;
}

.img {
  margin-right: 15%;
}

.container-carrosel {
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.flex {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.blocoImg {
  display: flex;
  max-width: 40%;
  margin-left: 7%;
  justify-items: center;
  align-items: center;
}

.footer1{
  background-color: #f4acbc;
  display: flex;
}

.flex{
  background-color: #f4acbc;
}

.ItemFooter, .linkFooter {
  text-decoration: none;
  color: #b9e2fa;
  font-size: 20px;
  font-family: "Poppins";
  display: flex;
}

.textoContato1{
  color: #b9e2fa;
  font-size: 20px;
  font-family: "Poppins";
  padding: 50px;
}
.ListFooter{
  padding-right: 10px;
}

.imgContato{
  max-width: 1000px;
}

.divContato{
  display: flex;
  justify-content: center;
}