body {
  margin: 0;
  font-family:'Poppins', sans-serif, 'Berkshire Swash', cursive;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:'Poppins', sans-serif, 'Berkshire Swash', cursive, source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
